/*
colores de botones mas oscuros
.btn-outline-danger {
    color: #dc3546e8;
    border-color: #dc3546ab
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3546b7;
    border-color: #dc3546ad
}

.btn-outline-success {
    color: #198754e5;
    border-color: #198754c7
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #198754c9;
    border-color: #198754cc
}

.btn-outline-primary {
    color: #0d6dfdc7;
    border-color: #0d6dfdc2
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d6dfdcb;
    border-color: #0d6dfdbe
}
*/